@import "tailwindcss";

body{

background-image: url("./assets/smoke_bg.svg");
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
background-color: #1F1F1F;

}

.smoke_bg{

z-index: -1;
position: absolute;
margin: 0;

}

.about-card .mini-info{

background-color: #1c1c1c;

}

.round-white-border{

  border: 2px solid white;
  border-radius: 20px;
  padding:15px;
  padding-left: 20px;
  padding-right: 20px;

}

.button{

background-color: #1c1c1c;
transition: all 0.2s ease-in-out;

}

.button:hover{

transform: translateY(-2px);
cursor: pointer;

}

.login_page{

overflow: hidden;

}

.form-card{

  background-color: #1c1c1c;
  border: 2px solid #505050;
  border-radius: 10px;

}

.dashboard-container{

  border-radius: 10px;
  overflow-y: scroll;

}

::-webkit-scrollbar{

  width: 10px;
  height: 5px;

}

::-webkit-scrollbar-track{

  background: #1e1e1e;

}

::-webkit-scrollbar-thumb{

  background: #444;
  border-radius: 10px;

}

::-webkit-scrollbar-thumb:hover{

  background-color: #666;

}